html {
  background: #fafafa;
  background-image: linear-gradient(0deg, #fafafa, white 40%, #fafafa);
}
body {
  font: 1.125em/1.4 Georgia, serif;
  background: white;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 1.5em 0 1em;
  color: #aaa;
}
blockquote {
    border-left: 3px solid #aaa;
    margin-left: 23px;
    padding-left: 17px;
}
code {
    border-radius: 3px;
    padding: 0.2em 0.35em;
    margin: 0;
    color: #333;
}
img {
    max-width: 100%;
}
a:visited {
    color: darkblue;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 650px;
    margin: 0 auto;
    word-wrap: break-word;
    padding: 2rem;
    min-height: 100vh;
}
.markdown-body .content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}
h1 a, .site-title a {
    text-decoration: none;
}
.post-list {
    line-height: 2rem;
    list-style-type: none;
    text-indent: -2rem;
    padding-left: 34px;
}
.post-list a {
    text-decoration: none;
}
.meta, .about {
    font-family: Verdana, sans-serif;
    font-size: 1rem;
}
.meta {
    color: #aaa;
    margin-bottom: 2rem;
    margin-left: 40px;
    text-transform: uppercase;
}
.about {
    margin-top: -1.5rem;
    display: flex;
    justify-content: space-around;
}
.about a {
    padding: 0.5rem;
    text-decoration: none;
}

.markdown-body .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.markdown-body .anchor:focus {
  outline: none;
}
.markdown-body .octicon {
  display: inline-block;
  vertical-align: text-bottom;
}
.markdown-body .octicon-link:before {
    content: '#';
}
.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

pre, code {
    word-wrap: initial;
    background-color: rgba(27, 31, 35, 0.05);
}
pre {
    padding: 1em 2rem;
    margin: 1rem -2rem;
    overflow: auto;
}
pre code {
    padding: 0;
    background: none;
}

.highlight .c {
    color: #998;
    font-style: italic
}
.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}
.highlight .k,
.highlight .o {
    font-weight: 700
}
.highlight .cm {
    color: #998;
    font-style: italic
}
.highlight .cp {
    color: #999;
    font-weight: 700
}
.highlight .c1 {
    color: #998;
    font-style: italic
}
.highlight .cs {
    color: #999;
    font-weight: 700;
    font-style: italic
}
.highlight .gd {
    color: #000;
    background-color: #fdd
}
.highlight .gd .x {
    color: #000;
    background-color: #faa
}
.highlight .ge {
    font-style: italic
}
.highlight .gr {
    color: #a00
}
.highlight .gh {
    color: #999
}
.highlight .gi {
    color: #000;
    background-color: #dfd
}
.highlight .gi .x {
    color: #000;
    background-color: #afa
}
.highlight .go {
    color: #888
}
.highlight .gp {
    color: #555
}
.highlight .gs {
    font-weight: 700
}
.highlight .gu {
    color: #aaa
}
.highlight .gt {
    color: #a00
}
.highlight .kc,
.highlight .kd,
.highlight .kp,
.highlight .kr {
    font-weight: 700
}
.highlight .kt {
    color: #458;
    font-weight: 700
}
.highlight .m {
    color: #099
}
.highlight .s {
    color: #d14
}
.highlight .na {
    color: teal
}
.highlight .nb {
    color: #0086B3
}
.highlight .nc {
    color: #458;
    font-weight: 700
}
.highlight .no {
    color: teal
}
.highlight .ni {
    color: purple
}
.highlight .ne,
.highlight .nf {
    color: #900;
    font-weight: 700
}
.highlight .nn {
    color: #555
}
.highlight .nt {
    color: navy
}
.highlight .nv {
    color: teal
}
.highlight .ow {
    font-weight: 700
}
.highlight .w {
    color: #bbb
}
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
    color: #099
}
.highlight .s2,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx {
    color: #d14
}
.highlight .sr {
    color: #009926
}
.highlight .s1 {
    color: #d14
}
.highlight .ss {
    color: #990073
}
.highlight .bp {
    color: #999
}
.highlight .vc,
.highlight .vg,
.highlight .vi {
    color: teal
}
.highlight .il {
    color: #099
}
