a {
    color: #5E2CA5;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    border-bottom: 3px solid #FFA3D7;
}
.content blockquote {
    border-left: 3px solid #00449E;
    margin: 0;
    padding: 1rem 1.25rem;
    font-size: 1.4rem;
    color: #00449E
}
.anchor {
    border: none;
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.anchor:focus {
  outline: none;
}
.octicon {
  display: inline-block;
  vertical-align: text-bottom;
}
.octicon-link:before {
    content: '#';
}
h1 .octicon-link,
h2 .octicon-link,
h3 .octicon-link,
h4 .octicon-link,
h5 .octicon-link,
h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  text-decoration: none;
}

h1:hover .anchor .octicon-link,
h2:hover .anchor .octicon-link,
h3:hover .anchor .octicon-link,
h4:hover .anchor .octicon-link,
h5:hover .anchor .octicon-link,
h6:hover .anchor .octicon-link {
  visibility: visible;
}

.content p code {
    padding: 0.25rem 0.5rem
}
.content pre, code {
    font-size: 1rem;
    word-wrap: initial;
    background-color: rgba(27, 31, 35, 0.05);
}
pre {
    padding: 1em 2rem;
    margin: 1rem -2rem;
    overflow: auto;
}
pre code {
    padding: 0;
    background: none;
}

.highlight .c {
    color: #998;
    font-style: italic
}
.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}
.highlight .k,
.highlight .o {
    font-weight: 700
}
.highlight .cm {
    color: #998;
    font-style: italic
}
.highlight .cp {
    color: #999;
    font-weight: 700
}
.highlight .c1 {
    color: #998;
    font-style: italic
}
.highlight .cs {
    color: #999;
    font-weight: 700;
    font-style: italic
}
.highlight .gd {
    color: #000;
    background-color: #fdd
}
.highlight .gd .x {
    color: #000;
    background-color: #faa
}
.highlight .ge {
    font-style: italic
}
.highlight .gr {
    color: #a00
}
.highlight .gh {
    color: #999
}
.highlight .gi {
    color: #000;
    background-color: #dfd
}
.highlight .gi .x {
    color: #000;
    background-color: #afa
}
.highlight .go {
    color: #888
}
.highlight .gp {
    color: #555
}
.highlight .gs {
    font-weight: 700
}
.highlight .gu {
    color: #aaa
}
.highlight .gt {
    color: #a00
}
.highlight .kc,
.highlight .kd,
.highlight .kp,
.highlight .kr {
    font-weight: 700
}
.highlight .kt {
    color: #458;
    font-weight: 700
}
.highlight .m {
    color: #099
}
.highlight .s {
    color: #d14
}
.highlight .na {
    color: teal
}
.highlight .nb {
    color: #0086B3
}
.highlight .nc {
    color: #458;
    font-weight: 700
}
.highlight .no {
    color: teal
}
.highlight .ni {
    color: purple
}
.highlight .ne,
.highlight .nf {
    color: #900;
    font-weight: 700
}
.highlight .nn {
    color: #555
}
.highlight .nt {
    color: navy
}
.highlight .nv {
    color: teal
}
.highlight .ow {
    font-weight: 700
}
.highlight .w {
    color: #bbb
}
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
    color: #099
}
.highlight .s2,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx {
    color: #d14
}
.highlight .sr {
    color: #009926
}
.highlight .s1 {
    color: #d14
}
.highlight .ss {
    color: #990073
}
.highlight .bp {
    color: #999
}
.highlight .vc,
.highlight .vg,
.highlight .vi {
    color: teal
}
.highlight .il {
    color: #099
}
