---
layout: page
title: Josh Beckman
---
<meta name="description" content="Josh Beckman is a software/app engineer and developer of imaginary machines in Chicago" />
{% for post in site.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
        {% unless forloop.first %}</ol>{% endunless %}
        <h3 class="post-year" id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h3>
        <ol class="list pa0" reversed>
        {% assign date = currentdate %}
    {% endif %}
    <li class="mb4-l mb3"><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% if forloop.last %}</ol>{% endif %}
{% endfor %}
