---
layout: page
title: Talks and Presentations
permalink: /presents/
image: /images/IMG_0605.jpg
---
<div class="content">
    {% for deck in site.decks reversed %}
        {% assign currentdate = deck.date | date: "%Y" %}
        {% if currentdate != date %}
            {% unless forloop.first %}</ul>{% endunless %}
            <h3 class="deck-year" id="y{{deck.date | date: "%Y"}}">{{ currentdate }}</h3>
            <ul class="deck-list">
            {% assign date = currentdate %}
        {% endif %}
        <li>
            <a href="{{ deck.url }}">{{ deck.title }}</a>
            <br/><small>Presented at</small>
            <em>{{ deck.presented_at }}</em>
        </li>
        {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
</div>
