<div class="sidebar fl w-30-l f5 pa4 mt4 bl b--near-white bw2">
    <h2 class="mt4 primary mb0">
        <a class="link dim b--white" href="/" title="{{ site.title }}">Josh Beckman</a>
    </h2>
    <p class="f5">
        Founder of <a href="//narro.co">Narro</a>
    </p>
    <p class="f5">
        Leading the engineering team at <a href="//officeluv.com">OfficeLuv</a>
    </p>
    <div class="b mt5">
        <a class="w4 db mb1" href="/about" title="About Josh" rel="about">About</a>
        <a class="w4 db mb1" href="/" title="Posts">Posts</a>
        <a class="w4 db mb1" href="/presents" title="Presentations">Talks</a>
        <a class="w4 db mb1" href="/lists" title="Lists of Preset, Past, &amp; Future">Lists</a>
        <a class="w4 db mb1" href="{{ site.photos_link }}" title="Photos">Photos</a>
        <a class="w4 db mb1" href="/rss.xml" title="Subscribe to the RSS feed" rel="alternate">RSS</a>
    </div>
</div>
