<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/" rel="home" title="{{ site.title }}">
        <img src="/images/name.png" alt="{{ site.title }}" width="140" class="icon"/>
      </a>
      <p class="lead">
        {{ site.description }}
      </p>
    </div>

    <nav class="sidebar-nav">
      {% for link in site.links %}
          <a class="sidebar-nav-item{% if page.url == link.url %} active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>
  </div>
</div>
