---
layout: default
---
<style>
html {
    background-image: url(/images/dot.gif);
}
.markdown-body {
    max-width: initial;
    background: transparent;
}
.site-title em {
    font-style: italic;
    font-family: Baskerville;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<h2 class="site-title">
    <em>{{ page.title }}</em> <a href="/" rel="home" title="{{ site.title }}">{{ site.title }}</a>
</h2>
<p class="meta">
    <a href="/charts">&larr; See More Charts</a>
</p>
<div id="loading"></div>
<div id="chartContainer"></div>
<div id="chartContainer1"></div>
<div class="grpahs">
    {{ content }}
</div>
<img src="http://sounds.andjosh.com/record?id=andjosh&tone=329.63" style="display:none" alt="sounds"/>
