<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-josh">
<style>
.embeddable-buttondown-form {
    margin-bottom: 1rem;
}
.embeddable-buttondown-form label {
    display: block;
}
.embeddable-buttondown-form #bd-email {
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px dashed white;
    color: white;
    font-size: 1rem;
}
.embeddable-buttondown-form input[type="submit"] {
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
}
</style>
    <div class="home">
      <div class="container">
        <div class="about">
            <p>
                I'm an experienced startup operator with a history of scaling tech and teams, currently building as a Staff Developer at <a href="https://www.shopify.com">Shopify</a>. I'm also the founder of <a href="https://www.narro.co">Narro</a>, the best way to listen to the Internet.
            </p>
            <p>
                I condense my notes, readings, and writings into an occasional newsletter. I don't post on social media, so this is <em>the</em> way to hear what I think are interesting ideas.
            </p>
            {% include newsletter.html %}
            <p>
                If I know you, I'll add you to my Friends/Family list when you subscribe. That way I'll send you more personal updates and photos from my life.
            </p>
            <p>
                If you want to talk software or product/engineering teams (or anything, really), please <a href="/contact">reach out to me</a>.
            </p>
        </div>
        <a class="masthead-home-link" href="/" rel="home" title="{{ site.title }}">
            {% include name.html %}
        </a>
        <div class="">
            <header class="masthead">
                <nav class="sidebar-nav">
                      <a class="sidebar-nav-item" href="/posts/">Writing</a>
                      <a class="sidebar-nav-item" href="/tags/photos/">Photos</a>
                      <a class="sidebar-nav-item" href="/presents/">Talks</a>
                      <a class="sidebar-nav-item" href="/blogroll/">Blogroll</a>
                      <a class="sidebar-nav-item" href="/contact/">Contact</a>

                </nav>
            </header>
        </div>
      </div>
    </div>
  </body>
</html>
