---
layout: default
---
<style>
.markdown-body {
    max-width: initial;
}
.site-title em {
    font-style: italic;
    font-family: Baskerville;
}
.lists {
    font-family: Baskerville;
    display: table;
}
.lists ul {
    display: table-cell;
    width: 30%;
    list-style: none;
    margin: 0;
    padding: 1em;
}
.lists ul::before {
    content: 'Present';
    font-family:Futura;
    text-transform: uppercase;
    color: #E21119;
    letter-spacing: 0.1em;
}
.lists ul:nth-child(2)::before {
    content: 'Future';
}
.lists ul:last-child::before {
    content: 'Past';
}
.lists ul li strong:first-child {
    margin-left: -0.8em;
    cursor: pointer;
}
.lists ul li strong:first-child a {
    text-decoration: none;
    color: initial;
    opacity: 0.5;
}
.lists ul li em {
    opacity: 0.7;
}
.lists ul li a {
    text-decoration: underline;
}
@media only screen and (max-width:660px){
    .lists ul {
        width: initial;
        display: block;
    }
}
</style>
<div class="lists">
    {{ content }}
</div>
<br/>
<h2 class="site-title">
    <em>{{ page.title }}</em> <a href="/" rel="home" title="{{ site.title }}">{{ site.title }}</a>
</h2>
<p class="meta">
    <a href="/lists">See More Lists</a>
</p>
<img src="http://sounds.andjosh.com/record?id=andjosh&tone=329.63" style="display:none" alt="sounds"/>
<script>
var a = document.querySelectorAll('.lists ul li strong');
for (var i = 0; i < a.length; i++) {
    if (a[i].textContent === '*'){
        a[i].title = 'Recommended';
    } else if (a[i].textContent === '#') {
        a[i].title = 'I need help getting this one';
        a[i].innerHTML = '<a href="mailto:email@andjosh.com?subject=I have something to help you">#</a>';
    }
}
</script>
