---
layout: default
---

<h1 class="site-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
<div class="content">
    {{ content }}
</div>
<h2 class="site-title">
    <a href="/" rel="home" title="{{ site.title }}">{{ site.title }}</a>
</h2>
<div class="about">
    <a href="/about" title="About Josh" rel="about">About</a>
    <a href="/" title="Posts" rel="home">Posts</a>
    <a href="/lists" title="Lists of Preset, Past, &amp; Future">Lists</a>
    <a href="/rss.xml" title="Subscribe to the RSS feed" rel="alternate">RSS</a>
</div>
