---
layout: default
---

<meta name="twitter:card"       content="summary" />
<meta name="twitter:site"       content="@twandjosh" />
<meta name="twitter:title"      content="{{ page.title }}" />
<meta name="twitter:description"content="{{ page.date | date_to_string }}" />
<meta name="twitter:image"      content="http://www.andjosh.com/favicon.png" />
<meta name="twitter:url"        content="{{ page.url }}" />
<meta property="og:title"       content="{{ page.title }}" />
<meta property="og:type"        content="article" />
<meta property="og:url"         content="{{ page.url }}" />
<meta property="og:image"       content="http://www.andjosh.com/favicon.png" />
<meta property="og:site_name"   content="www andjosh" />

<article itemscope itemtype="http://schema.org/BlogPosting">
    <meta itemprop="author" content="Josh Beckman" />
    <h2 class="site-title">
        <a rel="home" href="/" title="{{ site.title }}">{{ site.title }}</a>
    </h2>
    <div class="about">
        <a href="/" title="Posts" rel="home">Posts</a>
        &mdash;
        <a href="/about" title="About Josh" rel="about">About</a>
        &mdash;
        <a href="/lists" title="Lists of Preset, Past, &amp; Future">Lists</a>
        &mdash;
        <a href="/rss.xml" title="Subscribe to the RSS feed" rel="alternate">RSS</a>
    </div>
    <p class="meta">
        <span itemprop="datePublished">{{ page.date | date_to_string }}</span>
    </p>
    <h1 class=""><a itemprop="url" href="{{ page.url }}">{{ page.title }}</a></h1>
    <div class="content" itemprop="articleBody">
        {{ content }}
    </div>
    <small class="meta">
        <a href="mailto:email@andjosh.com?subject=RE:{{ page.title }}" title="Comment/Reply">Comment/Reply</a>
    </small>
    {% if page.sub && page.sub_url %}
        <h6>
            <a href="{{ page.sub_url }}">Back to {{ page.sub }}</a>
        </h6>
    {% endif %}
</article>
<img src="http://sounds.andjosh.com/record?id=andjosh&tone=261.63" style="display:none" />
