---
layout: default
date: 2015-07-29 00:00:00
---
<h1 class="site-title">Photos <a href="/" title="{{ site.title }}">{{ site.title }}</a></h1>
<div class="about">
    <a href="/" title="Home page" rel="home">Home</a>
    &mdash;
    <a href="/photos/rss.xml" title="Subscribe to the Photos RSS feed" rel="alternate">Photos RSS</a>
    &mdash;
    <a href="/fictions" title="Fictions">Fictions</a>
    &mdash;
    <a href="/lists" title="Lists of Preset, Past, &amp; Future">Lists</a>
</div>
<ul class="posts">
  {% for post in site.photos reversed %}
    {% if post.title %}
      <li>
        <span>{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<img src="http://sounds.andjosh.com/record?id=andjosh&tone=329.63" style="display:none" />
