---
layout: default
date: 2015-04-29 00:00:00
---
<h1 class="">Fictions <a href="/" title="{{ site.title }}">{{ site.title }}</a></h1>
<div class="about">
    <a href="/about" title="About Josh Beckman" rel="about">About</a>
    &mdash;
    <a href="/fictions/rss.xml" title="Subscribe to the Fictions RSS feed" rel="alternate">Fictions RSS</a>
    &mdash;
    <a href="/fictions" title="Fictions">Fictions Home</a>
    &mdash;
    <a href="http://photos.andjosh.com" title="photos.andjosh.com">Photos</a>
</div>
<ul class="posts">
  {% for post in site.fictions %}
    {% if post.title %}
      <li>
        <span>{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
        {% if post.sub %}
            <span><a href="{{ post.sub_url }}">{{ post.sub }}</a></span>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
